
# Environments, all except openmdao
AGILE-env/*
!AGILE-env/lib
!AGILE-env/lib/python3.10/site-packages
AGILE-env/lib/python3.10/site-packages/*
!AGILE-env/lib/python3.10/site-packages/openmdao/


#libraries
kadmos.egg-info
*.egg
*.pyc
